Django==5.0.7
dj-database-url==2.2.0
ipykernel==6.29.5
ipython==8.26.0
jedi==0.19.1
Jinja2==3.1.4
lightgbm==4.4.0
mysqlclient==2.2.4
pillow==10.4.0
requests==2.32.3
sqlparse==0.5.1
virtualenv==20.26.3
